name: Java CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Set up Maven 3.8.6
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.8.6
      - name: Build with Maven
        run: mvn clean install -Dspotless.check.skip=true -DskipChecks=true